<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Job Information</title>
</head>
<body>
<a href="/addjobs">Add Job </a><br />

<table>
    <tr th:each="resume :${resumes}">
        <p> <b>Job Title: </b> <span th:text="${resume.jobTitle}"></span></p>
        <p> <b>Employer: </b><span th:text="${resume.employer}"></span></p>
        <p> <b>Dates: </b><span th:text="${resume.when}"></span></p>
        <p> <b>Duties: </b><span th:text="${resume.duties}"></span></p>
        <p> <span><a th:href="@{/update/{id} (id=${resume.id})}">Update</a></span>
            <span><a th:href="@{/detail/{id} (id=${resume.id})}">Details</a></span>
            <span><a th:href="@{/delete/{id} (id=${resume.id})}">Delete</a></span>
        </p>

    </tr>
</table>
</body>
</html>