<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Job Information</title>
</head>
<body>
<a href="/addjobs">Add Job Details</a><br />

<table>
    <tr th:each="resume :${resumes}">
        <p> Job Title <span th:text="${resume.jobTitle}"></span></p>
        <p> Employer <span th:text="${resume.employer}"></span></p>
        <p> Dates <span th:text="${resume.when}"></span></p>
        <p> Duties <span th:text="${resume.duties}"></span></p>
        <td>
            <a th:href="@{/update/{id} (id=${resume.id})}">Update</a>
            <a th:href="@{/detail/{id} (id=${resume.id})}">Details</a>
            <a th:href="@{/delete/{id} (id=${resume.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>