<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Job Information</title>
</head>
<body>
<a href="/addjobs">Add Job  </a><br />

<table>
    <tr th:each="profile :${profiles}">
        <p> <b>Name: </b> <span th:text="${profile.name}"></span></p>
        <p> <b>Email: </b><span th:text="${profile.email}"></span></p>
        <p> <b>Education: </b><span th:text="${profile.education}"></span></p>
        <p> <b>Skill: </b><span th:text="${profile.skill_1}"></span>
            <b>Level: </b><span th:text="${profile.level_1}"></span></p>
        <p> <b>Skill: </b><span th:text="${profile.skill_2}"></span>
            <b>Level: </b><span th:text="${profile.level_2}"></span></p>
    </tr>
    <tr th:each="resume :${resumes}">
        <p> <b>Job Title: </b> <span th:text="${resume.jobTitle}"></span></p>
        <p> <b>Employer: </b><span th:text="${resume.employer}"></span></p>
        <p> <b>Dates: </b><span th:text="${resume.when}"></span></p>
        <p> <b>Duties: </b><span th:text="${resume.duties}"></span></p>
        <p> <span><a th:href="@{/detail/{id} (id=${resume.id})}">Details</a></span></p>
     </tr>
</table>
</body>
</html>